In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
#load the iris dataset
iris = load_iris()

In [3]:
# create data frame with feature data
df = pd.DataFrame(data = iris.data, columns = iris.feature_names)

#add the target column
df['target'] = iris.target

In [4]:
# map target numbers to actual species names 
df['species'] = df['target'].map({i:name for i , name in enumerate(iris.target_names)})

In [5]:
# show the 1st 5 row
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [6]:
df = pd.concat([df, df.iloc[[1]]], ignore_index = True)

In [7]:
df[df.duplicated()]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
142,5.8,2.7,5.1,1.9,2,virginica
150,4.9,3.0,1.4,0.2,0,setosa

In [8]:
#delete row with index 5
df = df.drop(index = 5)

In [11]:
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8
150                4.9               3.0                1.4               0.2

     target    species
0         0     setosa
1         0     setosa
2         0     setosa
3         0     setosa
4         0     setosa
..      ...        ...
146       2  virginica
147       2  virginica
148       2  virginica
149       2  virginica
150       0     setosa

[150 rows x 6 columns]